{% extends 'base.html' %}

{% block content %}

<h1>Donut Selfies</h1>
<h2>I'm on a mission to take the worst selfie and find the best donuts.</h2>


<div id="container">
    <div id="shop-list">
        <h1>Nearby Shops</h1>
    </div>
    <div id="map-container">
        <div id="map" style="height: 600px; width: 600px;"></div>
        <p>Click on the map to bring up the five nearest donut shops.</p>
        {% load static %}
        <script src="{% static 'js/script.js' %}"></script>
    </div>
</div>

<h1 class="section-title">All Shops</h1>
{% for shop in shops %}
<div class="shop">
    <h2>{{ shop.name }}</h2>
    <p><strong>Address:</strong><br>{{ shop.address_line_1 }}<br>{{ shop.address_line_2 }}</p>
    <p><strong>Review:</strong> {{ shop.review }}</p>
</div>
{% endfor %}

{% endblock %}